.round{
    font-size: 10px;
    border: 1px solid #9c9999;
    border-radius: 100px;
    color: black;
    padding: 8px 16px 8px 16px;
    font-weight: 700;
    cursor: pointer;
}
.round1{
    color: white;
    background-color: blue;
}