button {
  background-color: gray;
  /* 12[top] 3[right] 6[bottom] 9[left] */
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif; /*글꼴 바꾸기*/
  line-height: 30px; /*글 사이 간격*/
  /* text-transform: uppercase;*/ /*글 모양 바꾸기(대문자) */
  /*word-spacing: 20px;*/ /*자간*/
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
